@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  font-family: 'Montserrat', sans-serif;
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #f0f0f0; /* Light background color */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in-out; /* Aplica la animación */
}

.container > div {
  background-color: rgba(255, 255, 255, 0.9); /* Fondo claro con transparencia */
  border-radius: 12px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  padding: 20px;
  width: 350px; /* Tamaño adecuado para un panel compacto */
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Fuente moderna */
}

.container > div p {
  font-size: 18px; /* Tamaño de texto para los párrafos */
  font-weight: bold;
  color: #6C2141; /* Tono del gradiente para continuidad visual */
  margin-bottom: 15px;
}

.container label {
  display: block;
  font-size: 14px;
  color: #333; /* Texto oscuro para contraste */
  margin-bottom: 5px;
}

.container input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 14px;
}

.container button {
  background-color: #B83280; /* Tono principal del gradiente */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #6C2141; /* Tono complementario del gradiente */
}

.container p[ngIf] {
  color: #6C2141; /* Mensajes con colores del tema */
  font-size: 16px;
}

.container button[ngIf] {
  margin-top: 10px;
}


@media (max-width: 600px) {
  .container > div {
    width: 90%; /* Asegura que el panel sea responsivo */
    padding: 15px;
  }

  .container p {
    font-size: 16px;
  }

  .container input[type="number"] {
    font-size: 14px;
    padding: 8px;
  }

  .container button {
    font-size: 14px;
    padding: 8px 10px;
  }
}
