<main class="main">
  <app-remitente
    *ngIf="currentStep === ShippingStep.Sender"
    (continueClicked)="onSenderComplete($event)">
  </app-remitente>

  <app-user-input
    *ngIf="currentStep === ShippingStep.UserInput"
    [senderData]="senderData"
    (continueClicked)="onUserInputComplete($event)">
  </app-user-input>

  <app-package
    *ngIf="currentStep === ShippingStep.Package"
    [shippingData]="shippingData"
    (continueClicked)="onPackageComplete($event)"
   >
  </app-package>

  <app-map-selection
    *ngIf="currentStep === ShippingStep.OriginMap"
    type="origin"
    (locationSelected)="onOriginSelected($event)">
  </app-map-selection>

  <app-map-selection
    *ngIf="currentStep === ShippingStep.DestinationMap"
    type="destination"
    (locationSelected)="onDestinationSelected($event)">
  </app-map-selection>

  <app-shipping-details
    *ngIf="currentStep === ShippingStep.Details"
    [shippingData]="shippingData!"
    (orderConfirmed)="onOrderConfirmed()">
  </app-shipping-details>

  <app-alert-modal
    [show]="showAlertModal"
    [message]="alertMessage"
    (close)="closeAlert()">
  </app-alert-modal>

</main>


